* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #00aaff; ;
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

/* Style the topnav */
ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style links in topnav */
ul.topnav li a {
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
  background-color: #ffffff;
  color: black;
}

div.flex-container {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 20px;
  margin: auto;
  background-color: #00aaff; 
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  border-style: outset;
  box-shadow: 5px 5px 8px lightblue
}

div.flex-container > div {
  margin: 10px;
}

.container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00aaff; 
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 25px;
  box-shadow: 5px 5px 8px lightblue
}

.cv-container {
    text-align: center;
    margin-top: 30px;
}

.cv-container img {
    width: 500px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
}

.cv-container button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.cv-container button:hover {
    background-color: #0088cc;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
  div.flex-container {
    flex-direction: column;
  }
}